
<div class="row mt-4">
    <div class="col-md-6 offset-sm-1 mt-2 text-justify">
        <div class="col-md-10"><p>A melhor forma de identificar os problemas do município é contando com a colaboração da população. Baseando-se nisso, surge o infocity, um site inovador que facilita a comunicação direta entre os cidadãos e a prefeitura da sua cidade, permitindo que cada um faça sua parte para contribuir para uma cidade melhor sem sair de casa. 
          Torne-se um colaborador e utilize da primeira funcionalidade disponível: gerenciamento de coleta seletiva. Registre um descarte de lixo reciclável em seu endereço e a prefeitura cuidará de recolhê-lo.</p></div>
        <img src="./assets/img/geolocexample.png" alt="" width="80%">
    </div>
    <div class="col-md-4">
        <alert></alert>
        <h2>Torne-se um colaborador</h2>
        <form [formGroup]="usuarioForm" (submit)="submitForm()">
            
  <div class="card mt-4">
        <div class="card-header">
          Informações sobre o Usuário
        </div>
    
        <div class="card-body">
          <div class="form-row">
            <!-- nome -->
            <div class="form-group col-md-12">
              <label for="nome">Nome</label>
              <input type="text" class="form-control" id="nome" formControlName="nome">
    
              <div class="text-danger" *ngIf="usuarioForm.get('nome').invalid && usuarioForm.get('nome').touched">
                <div *ngIf="usuarioForm.get('nome').errors.required">Nome obrigatório*</div>
                <div *ngIf="usuarioForm.get('nome').errors.minlength">Mínimo 2 caracteres*</div>
              </div>
            </div>
          </div>
          <div class="form-row">
            <!-- email -->
            <div class="form-group col-md-12">
                <label for="email">Email</label>
                <input type="text" class="form-control" id="email" formControlName="email">
    
                <div class="text-danger" *ngIf="usuarioForm.get('email').invalid && usuarioForm.get('email').touched">
                <div *ngIf="usuarioForm.get('email').errors.required">Email obrigatório*</div>
                <div *ngIf="usuarioForm.get('email').errors.email">Digite email válido*</div>
                </div>
            </div>
           </div>
            <div class="form-row">
            <!-- senha -->
            <div class="form-group col-md-12">
                <label for="senha">Senha</label>
                <input type="password" class="form-control" id="senha" formControlName="senha">
                <div class="text-danger" *ngIf="usuarioForm.get('senha').invalid && usuarioForm.get('senha').touched">
                <div *ngIf="usuarioForm.get('senha').errors.required">Senha obrigatória*</div>
                <div *ngIf="usuarioForm.get('senha').errors.minlength">Mínimo 5 caracteres*</div>
                </div>
            </div>
           </div>
        <div class="form-row">
            <!-- Data de Nascimento -->
            <div class="form-group col-md-6">
                <label for="dataNascimento">Data de Nascimento</label>
                <input type="date" class="form-control" id="dataNascimento" formControlName="dataNascimento">
    
                <div class="text-danger" *ngIf="usuarioForm.get('dataNascimento').invalid && usuarioForm.get('dataNascimento').touched">
                <div *ngIf="usuarioForm.get('dataNascimento').errors.required">Data nascimento obrigatória*</div>
                </div>
            </div>
    
    
         
            <!-- sexo -->
            <div class="form-group col-md-6">
              <label for="sexo" class="mr-3">Sexo</label>
              <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label (click)="usuarioForm.get('sexo').setValue('M')" [class.active]="usuarioForm.get('sexo').value == 'M'" class="btn btn-outline-info">Masculino</label>
                <label (click)="usuarioForm.get('sexo').setValue('F')" [class.active]="usuarioForm.get('sexo').value == 'F'" class="btn btn-outline-info">Feminino</label>
              </div>
    
              <div class="text-danger" *ngIf="usuarioForm.get('sexo').invalid && usuarioForm.get('sexo').touched">
                <div *ngIf="usuarioForm.get('sexo').errors.required">Sexo obrigatório*</div>
              </div>
            </div>
    
            </div>
     
      </div>
    </div>
    
    
      <div class="alert alert-danger mt-4" *ngIf="serverErrorMessages">
        <strong>Erro no servidor:</strong>
        <ul>
          <li *ngFor="let error of serverErrorMessages">{{error}}</li>
        </ul>
      </div>
    
      <button [disabled]="submittingForm || usuarioForm.invalid" type="submit" class="btn btn-primary btn-lg float-right mt-3">
        Cadastrar
      </button>

        </form>
    </div>
</div>

<!--<pre>{{usuarioForm.value | json}}</pre>-->

