<app-bread-crumb
  [items]="[{text: 'Usuarios'}]"
></app-bread-crumb>

<app-page-header
  page-title="Usuarios"
  button-text="+ Nova Usuario"
  button-link="new"
  button-class="btn-success"
></app-page-header>

<div class="row mb-4">

    <div class="col-md-12">
      <div class="card border-0 rounded-0">
        <div class="card-body">
          <div class="table-responsive-md">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Nome</th>
                  <th class="text-center" width="10%">Ações</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let usuario of resources">
                  <td>{{usuario.nome}}</td>
                  <td>{{usuario.email}}</td>
                  <td>{{usuario.senha}}</td>
                  <td>{{usuario.dataNascimento}}</td>
                  <td>{{usuario.sexo}}</td>
                  <td>{{usuario.flagSituacao}}</td>
                  <td>{{usuario.foto}}</td>
                  <td>{{usuario.perfil.nome}}</td>
                  <td class="row d-flex justify-content-center">
                    <a [routerLink]="[usuario.id, 'edit']" class="btn btn-sm btn-outline-lightning rounded-0 mr-2 ">
                      <i class="far fa-edit"></i>
                    </a>
                    <a (click)="deleteResource(usuario)" class="btn btn-sm btn-outline-lightning rounded-0">
                      <i class="far fa-trash-alt"></i>
                    </a>
                  </td>
                </tr>
                
              </tbody>
            </table>
          </div>
  
        </div>
      </div>
  
    </div>
  </div>