<nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-4" *ngIf="currentUser">
  <a class="navbar-brand" routerLink="/">FINAN$YS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">

      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/usuarios">Usuários</a>
      </li>

      <li class="nav-item dropdown" routerLinkActive="active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Endereço
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/enderecos">Endereços</a>
          <a class="dropdown-item" routerLink="/cidades">Cidades</a>
          <a class="dropdown-item" routerLink="/estados">Estados</a>
        </div>
      </li>

      <li class="nav-item dropdown" routerLinkActive="active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Curso
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/reports">Relatórios</a>
          <a class="dropdown-item" routerLink="/entries">Lançamentos</a>
          <a class="dropdown-item" routerLink="/categories">Categorias</a>
        </div>
      </li>
      <a class="nav-item nav-link" (click)="logout()">Logout</a>

    </ul>
  </div>
</nav>


<!--login
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
  <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/">Home</a>
      <a class="nav-item nav-link" (click)="logout()">Logout</a>
  </div>
</nav>-->