<nav class="mb-5">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a>Página Inicial</a>
    </li>
  </ol>
</nav>

<div class="col-md-6 offset-sm-3">
  <h3 class="text-center">Seja bem-vindo(a) ao infocity. </h3>
  <p class="text-justify mt-4 mb-4">
O infocity permite aos órgãos públicos receberem e moderarem colaborações dos cidadãos acerca dos problemas urbanos, assim como gerenciar ações para preveni-los.
</p>
<!--
<p class="text-justify mt-4"><br>A primeira funcionalidade disponível no site é o gerenciamento de coleta seletiva. Com ele, os cidadãos podem informar à prefeitura da sua cidade que possuem em suas residências lixos recicláveis, devidamente separados e prontos para serem descartados, para que ela se encarregue de, auxiliada pelo site, planejar a coleta desses descartes.
  </p>
  <button class="btn btn-danger mr-3">Meus Dados</button>
  <button class="btn btn-success mr-3">Endereços</button>
  <button class="btn btn-primary mr-3">Fazer Colaboração</button>
  <button class="btn btn-danger">Minhas Colaborações</button>
-->
  <div class="text-center mt-4">
    <img src="./assets/img/reciclagem.png" alt="" width="45%" class="">
  </div>
</div>